@import 'compass/css3';
@import 'compass/reset';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
$base-font: 'Open Sans', sans-serif;
$base-font-size: 16px;
$fancySize: 10em;
$duration: .8s;

$yellow: #FF9E00;

$white: #fefefe;
$gray: #444;
$dark: darken($gray, 10);
$magenta: #FF389D;

$textColor: $gray;

$bezier: cubic-bezier(0.44, -0.14, 0.56, 1.15);

@function strip-units($number) {
    @return $number / ($number * 0 + 1);
}

body
{
    font-family: $base-font;
    font-size: $base-font-size;

    text-align: center;

    color: $textColor;
    background: #d0d0d0;
}

header
{
    margin-bottom: 2em;
}

h1
{
    font-size: 2em;
    margin: 1.4em 0 1em;
}

h2
{
    margin: 0 auto;
    width: 16em;
    line-height: 1.4em;
}

strong
{
    font-weight: 700;
}
p
{
    line-height: 1.5em;
    margin-bottom: 1em;
    &:last-child
    {
        margin: 0;
    }
}
div
{
    position: relative;
}

[aria-hidden="true"]
{
    pointer-events: none;
    position: absolute;
    z-index: 0;
    opacity: 0;
}

.flex-item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fancy-meter
{
    position: relative;
    display: inline-block;
    z-index: 3;
    &:after
    {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: .3em;
        left: 50%;
        width: 1em;
        height: .5em;
        border-radius: 50%;
        background-color: rgba(black, .11);
        transform-origin: 50% 50%;
        transform: translateX(-50%) rotateX(80deg);
        box-shadow: 0 0 8em 1em rgba(black, .6),
                    0 0 3em 0em rgba(black, 1),
                    0 0 8em 4em rgba(white, .5);
    }
    &_svg
    {
        width: $fancySize;
        height: $fancySize;
        position: relative;
        z-index: 1;
        circle
        {
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
            transition: all $duration $bezier;

            &.fancy-meter_svg-element
            {
                $circleRadius: ($fancySize / 2) - .8;
                $circleLength: 2 * pi() * $circleRadius;
                $circleLength: $circleLength;
                stroke-dasharray: $circleLength;
                @for $i from 0 to 101
                {
                    &[aria-valuenow="#{$i}"]
                    {
                        stroke-dashoffset: $circleLength - (($circleLength * $i) / 100);
                        &~ .marker
                        {
                            $angle: $i * 3.6;
                            fill: mix($magenta, $yellow, ($i * 1%));
                            transform: rotateZ($angle+deg) translateY(-2.5956em);
                        }
                    }
                }
            }

            &.opacity
            {
                opacity: .3;
            }
            &.fancy-meter_svg-wheel
            {
                transform: rotate(-89deg);
            }
            &.marks
            {
                stroke-dasharray: 1%, 5%;
                stroke-dashoffset: 1%;
            }
        }
    }
    &_shadow
    {
        perspective: 300em;
        display: inline-block;
        height: 7.5em;
        svg
        {
            transform: translateY(-1em) rotateX(180deg) scale(0.995);
        }
    }
}

//- just for the animation

[role='button']
{
    display: inline-block;
    padding: 1em;
    border-radius: .2em;
    color: $white;
    background-color: #ff8527;
}

#change-values:checked 
{
    &~ [class*='fancy-meter'] svg .fancy-meter_svg-element
    {
        stroke-dashoffset: 6.5em;
    }
    &~ [class*='fancy-meter'] svg .marker
    {
        fill: #ff5276;
        transform: rotateZ(270deg) translateY(-2.5956em);
    }
    &~ div [role='button']
    {
        color: $white;
        background-color: #FF4687;
    }
}









