<html>
<head>


</head>
<body>


<canvas id="horizontalChart" width="350" height="275"></canvas>


<p>horizontal chart</p>
<script src="/js/jquery.js"></script>
<script src="/js/Chart.js"></script>
<script src="/js/horizontalBar.js"></script>

</body>

</html>