
<html>
<head>
    <title>Title</title>
</head>
<body>
<div>Web Application. Passed parameter : th:text="${message}"</div>
<div>Web Application. Passed second parameter : th:text="${welcomeMessage}"</div>
<div><#list graphStuListt as user>
  <p>${user.correct}
  <p>${user.wrong}
  <p>${user.date}
</#list>
</div>
</body>
</html>